package user_templates

templ CheckoutComplete() {
	<div class="container mx-auto h-screen flex gap-4 flex-col items-center justify-center">
		<p class="text-3xl font-bold">Заказ успешно оформлен!</p>
		<a href="/" class="submit">
			На главную
		</a>
	</div>
}
